{% extends "base.html" %}
{% load i18n %}
{% block head %}
{% endblock %}


{% block app_content %}

<br/>

<div class="card">
  <div class="card-header">
    {% trans 'Book' %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    {% if object.subtitle %}<h6 class="card-title">{{object.subtitle}}</h6>{% endif %}
    <hr/>

    {% if object.comment %}
      <p><span>{% trans 'Comment' %}: </span>{{object.comment}}</p>
    {% endif %}

    {% if object.description %}
      <p><span>{% trans 'Description' %}: </span>{{object.description}}</p>
    {% endif %}

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span>{% trans 'ISBN' %}: </span>{% if object.isbn %}{{object.isbn}}{% endif %}</li>
    <li class="list-group-item"><span>{% trans 'Type' %}: </span>{% if object.media_type %}{{object.media_type}}{% endif %}</li>
    <li class="list-group-item"><span>{% trans 'Pages' %}: </span>{% if object.pages_number %}{{object.pages_number}}{% endif %}</li>
    <li class="list-group-item"><span>{% trans 'Year of publishing' %}: </span>{% if object.publishing_year %}{{object.publishing_year}}{% endif %}</li>
    <li class="list-group-item"><span>{% trans 'Publisher' %}: </span>{% if object.publisher %}{{object.publisher}}{% endif %}</li>
    {% if object.translator %}
      <li class="list-group-item"><span>{% trans 'Translator' %}: </span>{{object.translator}}</li>
    {% endif %}
    <div class="container">
    <h5>{% trans 'Works' %}</h5>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans '#' %}</th>
          <th scope="col">{% trans 'Title' %}</th>
          <th scope="col">{% trans 'Authors' %}</th>
          <th scope="col">{% trans 'Genre' %}</th>
          <th scope="col">{% trans 'Comment' %}</th>
          <th scope="col">{% trans 'Summary' %}</th>
        </tr>
      </thead>
        <tbody>
        {% for item in related_works %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'work-detail' item.pk %}">{{ item.title }}</a></td>
          <td>{{ item.aftar|join:", " }}</td>
          <td>{% if item.genre %}{{ item.genre }}{% endif %}</td>
          <td>{% if item.comment %}{{ item.comment }}{% endif %}</td>
          <td>{% if item.summary %}{{ item.summary }}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </ul>

  <div class="card-body">



    <a href="{% url 'book-list' %}" class="card-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
      <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
      </svg> {% trans 'back' %}</a>
  </div>
</div>
<br/>



{% endblock %}