{% extends "base.html" %}
{% load i18n %}
{% block head %}
{% endblock %}


{% block app_content %}

<h1>{% trans 'Genres' %}</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans '#' %}</th>
      <th scope="col">{% trans 'Genre' %}</th>
      <th scope="col">{% trans 'Comment' %}</th>
    </tr>
  </thead>
    <tbody>
    {% for genre in page_obj %}
    {# Each "contact" is a Contact model object. #}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'work-genre-list' genre.pk %}">{{ genre.name }}</a></td>
      <td>{% if genre.comment %}{{ genre.comment }}{% endif %}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>


<br/>


<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; {% trans 'first' %}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
        {% endif %}

        <li ><a class="page-link" href="#">{% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</a></li>



      {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %} &raquo;</a></li>
        {% endif %}
  </ul>
</nav>

{% endblock %}